<form class="add-restaurant-form">
   
    <h1>Add restaurant</h1>

    <label>Name:
      <input class="form-field" [(ngModel)]="name" name="name"/>
    </label>&nbsp;<br>
  
    <label>Rating:
      <input class="form-field" [(ngModel)]="rating" name="rating" type="number" min="0.0" max="5.0"/>
    </label>&nbsp;<br>
  
    <label>Address:
      <input class="form-field" [(ngModel)]="address" name="address"/>
    </label>&nbsp;<br>
  
    <label>Neighborhood:
      <input class="form-field" [(ngModel)]="neighborhood" name="neighborhood"/>
    </label>&nbsp;<br>
  
    <label>Owner:
      <input class="form-field" [(ngModel)]="owner" name="owner"/>
    </label>&nbsp;<br>

    <label>Cuisine:
        <input class="form-field" [(ngModel)]="cuisine" name="cuisine"/>
    </label>&nbsp;<br>

    <label>Head Chef:
        <input class="form-field" [(ngModel)]="headChef" name="headChef"/>
    </label>&nbsp;<br>

    <label>Price range:
        <input class="form-field" [(ngModel)]="priceRange" name="priceRange"/>
    </label>&nbsp;<br>

    <label>Michelin stars:
        <input class="form-field" [(ngModel)]="michelinStars" name="michelinStars" type="number" min="0" max="3"/>
    </label>&nbsp;<br>

    <label>Guests per year:
        <input class="form-field" [(ngModel)]="guestsPerYear" name="guestsPerYear" type="number" min="0"/>
    </label>&nbsp;<br>

    <label>Phone:
        <input class="form-field" [(ngModel)]="phone" name="phone"/>
    </label>&nbsp;<br>

    <label>Number of reviews:
        <input class="form-field" [(ngModel)]="noOfReviews" name="noOfReviews" type="number" min="0"/>
    </label>&nbsp;<br>

    <label>Latest review:
        <input class="form-field" [(ngModel)]="latestReview" name="latestReview"/>
    </label>&nbsp;<br>
  

    <input type="button" value="Add" (click)="addRestaurant()">
  
</form>
