h2 {
    min-width: 380px;
}

label {
    padding-left: 1em;
    padding-right: 1em;
    color: maroon;
    font-size: large;
}

.form-field {
    margin-bottom: .8em;
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.705);
    border: 1px solid white;
    color: maroon;
    font-family: 'Montserrat', sans-serif;
}

.form-field:focus {
    outline: none;
}

input[type=submit] {
    background-color: rgb(226, 126, 4);
    border: none;
    width: 25%;
    color: white;
    padding: .2em 0;
    border-radius: .25em;
    font-size: large;
    cursor: pointer;
    margin-top: .2em;
    margin-bottom: .4em;
    margin-left: 1em;
    padding: .2em;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
    background-color: maroon;
}

p {
    color: maroon;
    margin-left: 1em;
    font-weight: bold;
}
