<!-- 
  Create a form for adding restaurants. ngNativeValidate ensures validation of required attributes. 
  Bind values with ngModel.
-->
<form ngNativeValidate class="add-restaurant-form" id="add-restaurant-form">
   
    <h2>Add restaurant</h2>

    <label>Name:
      <input class="form-field" [(ngModel)]="name" name="name" required/>
    </label>&nbsp;<br>
  
    <!-- Make sure to set a min and max for the raing. -->
    <label>Rating:
      <input class="form-field" [(ngModel)]="rating" name="rating" type="number" min="0.0" max="5.0" required/>
    </label>&nbsp;<br>
  
    <label>Address:
      <input class="form-field" [(ngModel)]="address" name="address" required/>
    </label>&nbsp;<br>
  
    <!-- 
      Create a select with neighborhood options to ensure that the user does not input a neighborhood 
      that does not exist. 
    -->
    <label>Neighborhood:
      <select [(ngModel)]="neighborhood" name="neighborhood" required>
        <option *ngFor="let neighborhood of neighborhoods">{{ neighborhood }}</option>
      </select>
    </label>&nbsp;<br>
  
    <label>Owner:
      <input class="form-field" [(ngModel)]="owner" name="owner" required/>
    </label>&nbsp;<br>

    <label>Cuisine:
        <input class="form-field" [(ngModel)]="cuisine" name="cuisine" required/>
    </label>&nbsp;<br>

    <label>Head Chef:
        <input class="form-field" [(ngModel)]="headChef" name="headChef" required/>
    </label>&nbsp;<br>

    <!-- Create a select with price options to ensure that the user does not input another type of value. -->
    <label>Price range:
        <select [(ngModel)]="priceRange" name="priceRange" required>
          <option *ngFor="let price of prices">{{ price }}</option>
        </select>
    </label>&nbsp;<br>

    <!-- 
      Create a select with amount of star options. Could have done the same as the rating with 
      min/max but selects are cool. 
    -->
    <label>Michelin stars:
        <select [(ngModel)]="michelinStars" name="michelinStars" required>
          <option *ngFor="let star of stars">{{ star }}</option>
        </select>
    </label>&nbsp;<br>

    <label>Guests per year:
        <input class="form-field" [(ngModel)]="guestsPerYear" name="guestsPerYear" type="number" min="0" required/>
    </label>&nbsp;<br>

    <label>Phone:
        <input class="form-field" [(ngModel)]="phone" name="phone" required/>
    </label>&nbsp;<br>

    <label>Number of reviews:
        <input class="form-field" [(ngModel)]="noOfReviews" name="noOfReviews" type="number" min="0" required/>
    </label>&nbsp;<br>

    <label>Latest review:
        <input class="form-field" [(ngModel)]="latestReview" name="latestReview" required/>
    </label>&nbsp;<br>

    <!-- Call the addRestaurant() method when the user presses the button. -->
    <input type="submit" for="add-restaurant-form" value="Add" (click)="addRestaurant()">

    <!-- Place for success/error message to be displayed -->
    <p *ngIf="message">{{ message }}</p>
  
</form>
