<header>
<h1 class="center">New York City Restaurants</h1>

<p>The city eating experience</p>

<!-- Add links for navigating the pages. -->
<nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a> |
    <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admin</a>
</nav>
</header>

<main>
<!-- Acts as a placeholder that Angular dynamically fills based on the current router state. -->
<router-outlet></router-outlet>
</main>
    
