<h2>Details</h2>

<!-- Create a table displaying all restaurant information. -->
<table>
    <tbody>
        <tr>
            <td>Name:  </td>
            <td>{{ restaurant?.name}}</td>
        </tr>
        <tr>
            <td>Rating:  </td>
            <td>{{ restaurant?.rating}}</td>
        </tr>
        <tr>
            <td>Address:  </td>
            <td>{{ restaurant?.address}}</td>
        </tr>
        <tr>
            <td>Neighborhood:  </td>
            <td>{{ restaurant?.neighborhood}}</td>
        </tr>
        <tr>
            <td>Owner:  </td>
            <td>{{ restaurant?.owner}}</td>
        </tr>
        <tr>
            <td>Cuisine:  </td>
            <td>{{ restaurant?.cuisine}}</td>
        </tr>
        <tr>
            <td>Head Chef:  </td>
            <td>{{ restaurant?.headChef}}</td>
        </tr>
        <tr>
            <td>Price range:  </td>
            <td>{{ restaurant?.priceRange}}</td>
        </tr>
        <tr>
            <td>Michelin stars:  </td>
            <td>{{ restaurant?.michelinStars}}</td>
        </tr>
        <tr>
            <td>Guests per year:  </td>
            <td>{{ restaurant?.guestsPerYear}}</td>
        </tr>
        <tr>
            <td>Phone:  </td>
            <td>{{ restaurant?.phone}}</td>
        </tr>
        <tr>
            <td>Number of reviews:  </td>
            <td>{{ restaurant?.noOfReviews}}</td>
        </tr>
        <tr>
            <td>Latest review:  </td>
            <td>{{ restaurant?.latestReview}}</td>
        </tr>
    </tbody>
</table>
