h1 {
    color: rgb(206, 114, 3);
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
    font-size: 1.2em;
    margin-left: 1em;
}

tbody ul {
    margin-top: 0;
}

.borough {
    font-weight: bold;
}

.borough-line {
    border-bottom: 1px solid;
}

span {
    cursor: pointer;
}

span:hover {
    color: maroon;
}
