<h1>All | Brooklyn | Manhattan | The Bronx | Staten Island </h1>
<table>
    <tbody id="courses_table">
        <ng-container *ngFor="let neighborhood of neighborhoods">
            <tr>
                <td class="borough">{{ neighborhood.name }}</td>
                <td>Size(km²): {{ neighborhood.size }}</td>
                <td>Population: {{ neighborhood.population }}</td>
                <td></td>
            </tr>

            <tr>
                <td>Restaurant name</td>
                <td>Rating</td>
                <td>Price Range</td>
                <td></td>
            
            </tr>
            <ng-container *ngFor="let restaurant of neighborhood.restaurants">
                <tr>
                    <td>{{ restaurant.name}}</td>
                    <td>{{ restaurant.rating }}</td>
                    <td>{{ restaurant.priceRange }}</td>
                    <td><input type="button" value="Details" (click)="showDetails(restaurant.name)"></td>
                </tr>
            </ng-container>
        </ng-container>
        
    </tbody>
</table>
