/* Global styles, imported font. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-image: url("assets/img/pexels-sunsetoned-7235677.jpg");
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

input[type=button] {
    background-color: rgb(226, 126, 4);
    border: none;
    width: 100%;
    color: white;
    padding: .2em 0;
    border-radius: .25em;
    font-size: 1.0em;
    cursor: pointer;
    margin-top: .2em;
    margin-bottom: .2em;
    padding: .2em;
    font-family: 'Montserrat', sans-serif;
}

input[type=button]:hover {
    background-color: maroon;
}

table {
    color: maroon;
    font-size: large;
    table-layout: auto;
    border-collapse: collapse;
}

tbody>tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.452);
}

tbody>tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.20);
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

select {
    color: maroon;
    margin-bottom: .8em;
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.705);
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: rgb(206, 114, 3);
    font-weight: bold;
    margin-bottom: 2em;
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
}
