<main class="home">
    <div class="left-col">
        <h2>
            <span (click)="changeNeighborhood('All')">All</span> | 
            <span (click)="changeNeighborhood('Brooklyn')">Brooklyn</span> | 
            <span (click)="changeNeighborhood('Manhattan')">Manhattan</span> | 
            <span (click)="changeNeighborhood('The Bronx')">The Bronx</span> | 
            <span (click)="changeNeighborhood('Queens')">Queens</span> | 
            <span (click)="changeNeighborhood('Staten Island')">Staten Island</span>
        </h2>
        <table>
            <tbody id="neighborhood-restaurants-table">
                <!-- Loop over the list, add each neighborhood to the table and display the information. -->
                <ng-container *ngFor="let neighborhood of neighborhoods">
                    <tr>
                        <td class="borough borough-line">{{ neighborhood.name }}</td>
                        <td class="borough-line">Size(km²): {{ neighborhood.size }}</td>
                        <td class="borough-line">Population: {{ neighborhood.population }}</td>
                        <td class="borough-line"></td>
                    </tr>
    
                    <tr>
                        <td>Restaurant name</td>
                        <td>Rating</td>
                        <td>Price Range</td>
                        <td></td>
                    
                    </tr>
                    <!-- Loop over the neighborhood's restaurants, add them to the table. -->
                    <ng-container *ngFor="let restaurant of neighborhood.restaurants">
                        <tr>
                            <td>{{ restaurant.name}}</td>
                            <td>{{ restaurant.rating }}</td>
                            <td>{{ restaurant.priceRange }}</td>
                            <!-- Button for showing the details of the restaurant in a child component. -->
                            <td><input type="button" value="Details" (click)="showDetails(restaurant)"></td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
    
    <!-- Displays a child component with details of the restaurant if the boolean is true. -->
    <div class="right-col" *ngIf="showInfo">
        <app-restaurant-info [restaurant]="currentRestaurant"></app-restaurant-info>
    </div>   
</main>
